//- index.jade
extends ./_layouts/one-page.jade

block content
    
  #about
    #main-content.text-center.container
      h3 About
             
      .video-container
        iframe(src='https://www.youtube.com/embed/v34hR3bfkfo&volume=0&autoplay=0', frameborder='0', allowfullscreen='')
             
      .text-left
        h6
          |Perspective family Eyecare is a full service eyecare practice that exists to provide comprehensive vision and eye health examination for people of all ages. We have a fully furnished Optical and In-house laboratory to provide necessary and optional eyewear solutions that are both affordable and fashionable. We provide affordable eye health testing necessary for timely diagnoses and treatment of eye conditions. We take pride in our ability to communicate effectively and listen actively to each patient in order to provide customized individualized care for each patient. We demonstrate genuine care for each patient encounter thereby providing exccellent customer service. At Perspective we treat each patient with equal respect and care regardless of background or social status.