//- about.jade
// Schedule Mixin
mixin schedule(day, hours)
  tr
    td
      .day!= day
    td
      .hours!= hours

extends ./_layouts/one-page.jade

block variables
  - var pagetitle= 'Contact'
  - var banner_image= 'img/banner/about.jpg'

block content

  #contact  

    #main-content.text-center
      
      h3 Contact

      .contact_details
        #contact_map.two-columns
          img(src='img/map.png')                
          p 629 Eastern Pkwy 
          p Unit M4, Ste 202, Brooklyn, NYC 11213 
          br              
          br              

        #contact_info.two-columns
          .label Phone            
            p (718) 708 - 5360
            br

          .sched
            table
              thead.label 
                tr
                  th Hours
              tbody
                +schedule('Mon', '10:00 am - 6:00 pm')
                +schedule('Tue', '10:00 am - 6:00 pm')
                +schedule('Wed', '10:00 am - 6:00 pm')
                +schedule('Thu', '10:00 am - 7:00 pm')
                +schedule('Fri', '10:00 am - 6:00 pm')
                +schedule('Sat', '10:00 am - 5:00 pm')
                +schedule('Sun', 'Closed')

