include ./_layouts/layout.jade

include ./_includes/nav.jade

include ./main.jade

include ./about.jade

include ./services.jade

include ./appointment.jade

include ./insurance.jade

include ./reviews.jade

include ./_includes/footer.jade