include ./_layouts/layout.jade

include ./_includes/nav.jade

include ./about.jade

include ./services.jade

include ./testimonials.jade

include ./team.jade

include ./contact.jade

include ./_includes/footer.jade