//- reviews.jade
extends ./_layouts/one-page.jade
block variables
  - var pagetitle = 'Reviews'
  - var banner_image = 'img/banner/review.jpg'

block content
  
    #main-content.text-center.container
      h3(style='color: #003F4E;') Reviews
  
      .row.text-left.main-text
        .six.columns
          h6
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis scelerisque aliquet. Pellentesque id magna ac risus dignissim vulputate. Aenean quis elit leo. Cras ornare ante sed neque mollis, ut volutpat velit hendrerit. Pellentesque
            | habitant morbi tristique senectus et netus et malesua da fames ac turpis egestas. Quisque est ex, ullamcorper in est vitae, ultrices luctus eros. Maecenas suscipit justo est. Nam at vulputate turpis. Phasellus id quam non turpis scelerisque
            | suscipit eu pretium turpis. Ut sollicitudin
    
        .six.columns
          h6
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis scelerisque aliquet. Pellentesque id magna ac risus dignissim vulputate. Aenean quis elit leo. Cras ornare ante sed neque mollis, ut volutpat velit hendrerit. Pellentesque
            | habitant morbi tristique senectus et netus et malesua da fames ac turpis egestas. Quisque est ex, ullamcorper in est vitae, ultrices luctus eros. Maecenas suscipit justo est. Nam at vulputate turpis. Phasellus id quam non turpis scelerisque
            | suscipit eu pretium turpis. Ut sollicitudin
 
      button.book-btn Book Appointment