//- services.jade
// Services Mixin
mixin services(service, description, image)
    .three-columns
      .service
        img.image-circle(src='img/'+image)
        h5!= service
        h6!= description
      br

extends ./_layouts/one-page.jade
block variables
  - var pagetitle = 'Services'
  - var banner_image = 'img/banner/services.jpg'

block content

  #main-content.text-center.container
    h3 Services
    
    #services
      
      +services(
        'Eye Examinations',
        'Contact lens Examination',
        'services-pic.jpg')

      +services(
        'Medical Eye Examinations',
        'Lorem ipsum dolor sit amet',
        'services-pic.jpg')
        
      +services(
        'Optical',
        'Lorem ipsum dolor sit amet',
        'services-pic.jpg')