//- services.jade
// Services Mixin
mixin services(service, description, image, imgclass)
    .three-columns
        .services_icons
          div(class='services_'+imgclass).bottom_center
            img(src='img/' + image)
        .services_text
          h5.bottom_center!= service
            p= description
        br

extends ./_layouts/one-page.jade
block variables
  - var pagetitle = 'Services'
  - var banner_image = 'img/banner/services.jpg'

block content

  #services
    
    #main-content.text-center

      h3 Services

      .services_list

        +services(
          'Medical Eye Examinations',
          'Contact lens Examination',
          'services-eye_logo.png',
          'eye_logo')

        +services(
          'Comprehensive Eye Examinations',
          'Lorem ipsum dolor sit amet',
          'services-eye_test.png',
          'eye_test')
    
        +services(
          'Optical',
          'Lorem ipsum dolor sit amet',
          'services-eye_glasses.png',
          'eye_glasses')