//- services.jade
// Services Mixin
mixin services(service, description1, description2, description3, image, imgclass)
    .three-columns
        .services_icons
          div(class='services_'+imgclass).bottom_center
            img(src='img/' + image)
        .services_text
          h5.bottom_center!= service
            ul
              li= description1
              li= description2
              li= description3
          br

extends ./_layouts/one-page.jade
block variables
  - var pagetitle = 'Services'
  - var banner_image = 'img/banner/services.jpg'

block content

  #services
    
    #main-content.text-center

      h3 Services

      .services_list

        +services(
          //Service
          'Medical Eye Examinations',
          //Descriptions (3)
          'Glaucoma Management',
          'Diabetic Eye Exam',
          'Ocular Emergencies (Red Eye)',
          //Icons
          'services-eye_logo.png',
          'eye_logo')

        +services(
          //Service
          'Comprehensive Eye Examinations',
          //Descriptions (3)
          'Annual Eye Exam',
          'Contact Lens Fitting',
          'Vision Therapy & Ortho K',
          //Icons
          'services-eye_test.png',
          'eye_test')
    
        +services(
          //Service
          'Optical',
          //Descriptions (3)
          'Designer Frames & Lenses',
          'Frame Adjustments & Repairs',
          'Eyewear Accessories',
          //Icons
          'services-eye_glasses.png',
          'eye_glasses')

