//- services.jade
// Services Mixin
mixin services(service, description, image, imgclass)
    .three-columns
      .service
        div(class=imgclass)
          img(src='img/'+image)
          h5!= service
          h6!= description
        br

extends ./_layouts/one-page.jade
block variables
  - var pagetitle = 'Services'
  - var banner_image = 'img/banner/services.jpg'

block content

  #services
    
    #main-content.text-center.container

      h3 Services

        #services_list

          +services(
          'Eye Examinations',
          'Contact lens Examination',
          'services-eye_logo.png',
          'eye_logo')

          +services(
            'Medical Eye Examinations',
            'Lorem ipsum dolor sit amet',
            'services-eye_test.png',
            'eye_test')
      
          +services(
            'Optical',
            'Lorem ipsum dolor sit amet',
            'services-eye_glasses.png',
            'eye_glasses')