//- appointment.jade
extends ./_layouts/one-page.jade

block variables
  - var pagetitle= 'Testimonials'
  - var banner_image = 'img/banner/testimonials.png'

block content

  #testimonials
    .testimonials_background
      img(src=banner_image)
 
    .testimonials_text
      .quote
        | placeholder
      .signature
        | signature	     