//- appointment.jade
extends ./_layouts/one-page.jade

block variables
  - var pagetitle= 'Testimonials'
  - var banner_image = 'img/banner/testimonials.png'

block content

  #testimonials


      .testimonial
        .testimonials_background
          img(src=banner_image)
     
        .testimonials_text
          #main-content
            .quote
              | “From the moment I walked into the office, I felt welcomed.
              | Dr. Arthur was very knowledgeable, professional and thorough.”
            br
            hr 
            br  
            .signature
              | —A.J, Mount Vernon NY     