@import 'jeet'
@import 'axis'
@import '_settings'
@import url(https//fonts.googleapis.com/css?family=Montserrat400,700)

normalize-css()
base()


html
body

  width 100%
  height 100%
  background-color #FFFFFF
  font-family "Montserrat"
  font-weight 400

/* NAV */
#nav_top_buffer
  height 100px
  
nav
   
  ul
    list-style-type none
    text-align right
    margin-right 0px
   
    li
      display inline-block
      font-size 14px
      color #00404E
      font-weight 500
      text-transform uppercase
      padding 0px 0px 0px 20px
      text-align right
      
      a
        text-decoration none
        color inherit
        
        &:hover
          border-top 2.5px dotted #00A3B2
          border-bottom 2.5px dotted #00A3B2
        
  &.sticky
    position fixed
    width 70%
    z-index 999

  &.main 
    height 60px
    background-color #FFFFFF
    border 10px
    padding 20px (15% + 2px)
    display table
    margin-bottom 1px
  
  .slicknav_brand
    float left
    color transparent
    font-size 18px
    line-height 30px
    padding 7px 12px
    height 44px
    
.slicknav_item
  display table-cell
  vertical-align middle
  
  &.slicknav_row
    padding 5px 0px 5px 10px
    margin 2px 5px

.slicknav_menu
  display none
  font-size 16px
  background #FFFFFF
    
.slicknav_btn
  margin 5px 5px 0px
  text-decoration none
  text-shadow 0 1px 1px rgba(255,255,255,.75)
  border-radius 4px
  background-color #003F4E
  
  &:hover
    background-color #00A3B4
  
.slicknav_nav 
  
  a
    
    &:hover
      color #00A3B4
      background #FFFFFF
      border-top 0px
      border-bottom 0px

+below(1125px)

  #menu
    display none
    
  .slicknav_menu
    display block
    background #FFFFFF
    border 10px
    padding px 15%
    margin-bottom 1px
    margin-right 1px
    
/* Banner */
#banner-video
  position relative
  box-sizing border-box
  overflow hidden
  background-color #FFFFFF
  transform-style preserve-3d
  -webkit-transform-style preserve-3d
  -moz-transform-style preserve-3d

  video
    width 100%
    zoom 50%
    background-color #000000

#banner
  position relative
  box-sizing border-box
  overflow hidden
  transform-style preserve-3d
  -webkit-transform-style preserve-3d
  -moz-transform-style preserve-3d
  background-color #FFFFFF
  height 518px
    
  img
    width 100%
    background-position center
    background-size cover
  
#banner-text
  position absolute
  top 73%
  right 15%
  -webkit-transform translateY(-73%)
  -ms-transform translateY(-73%)
  transform translateY(-73%)
  color #FFFFFF

/* Video */
.video-container
  position relative
  padding-bottom 56.25%
  padding-top 35px
  height 0
  overflow hidden
  margin-top 20px
  margin-bottom 30px
    
  iframe
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    margin auto

iframe
  max-width 95%

video
  display block
  
/* Text & Content */
#main-content
  margin-top 20px
  padding 20px 0px

.main-text h6 
  padding 0px 5px
  font-size 1.2em
  margin-bottom 40px

.one-column
  column(1)
  
.two-columns
  column(1/2, gutter: .5)

  +below(1125px)
    column(1/2)
    center()
  
.three-columns
  column(1/3, gutter: .5)

  +below(1125px)
    column(1/2)
    center()
    
.four-columns
  column(1/4, gutter: .5)
  
  +below(1125px)
    column(1/2)
    center()

.text
  &-center 
    text-align center

  &-left 
    text-align left

  &-right 
    text-align right

  &-vcenter 
    display table-cell
    text-align center
    vertical-align middle

    h1 
      font-weight 500
      font-size 36px

  &-container 
    position absolute
    top 50%
    left 15%
    -webkit-transform translateY(-50%)
    -ms-transform translateY(-50%)
    transform translateY(-50%)
    color #FFFFFF

/* Other Styling */
.items 
  display table-cell
  vertical-align middle

ul 
  -webkit-margin-before 0em
  -webkit-margin-after 0em
  -webkit-margin-start 0px
  -webkit-margin-end 0px
  -webkit-padding-start 0px

.book-btn
  hover-darken()
  width 120px
  height 120px
  margin 40px
  background-color #00A3B4
  border-radius 50%
  color #FFFFFF
  text-align center
  padding 0px 0px
  font-size 16px
  font-weight 400
  line-height normal
  letter-spacing normal
  text-transform none
  white-space normal
  border none
  box-sizing border-box

    background-color #003F4E !important
    font-weight 400
    color #FFFFFF

#contact input 
  padding 5px

.services-logo 
  width 100%
  height 100%

.time 
  margin-left 15px
  display inline
  font-weight normal

.image-circle 
  border-radius 50%
  display inline
  width 200px
  height 200px

.headshot
  margin-top 30px
  width 200px
  height 200px

#footer 
  width 100%
  background-color #F4F4F4
  padding 35px 0px

  i 
    margin 0px 10px

.social 
  [class*="fa fa-"]
    hover-darken()
    background-color #00A3B4
    border-radius 30px
    color #FFFFFF
    display inline-block
    height 30px
    line-height 30px
    margin auto 3px
    width 30px
    font-size 15px
    text-align center