@import 'jeet'
@import 'axis'
@import '_settings'
@import url(https//fonts.googleapis.com/css?family=Montserrat400,700)

normalize-css()
base()
forms()
buttons()
code-blocks()
tables()
bold-italic()
headers()
lists()
text-selection()

/* VARIABLES */
$nav_height = 80px 
$banner_height = 900px

$white           = #ffffff
$black           = #000000
$primary_green   = #00A3B4
$secondary_green = #003F4E
$section_color_a = #ffffff
$section_color_b = #f0f0f0

html
body
  width 100%
  height 100%
  font-family "Montserrat"
  font-weight 400
    
/* SECTION BACKGROUND COLORS*/
#about
  background-color $section_color_a
  width 100%
#services
  background-color $section_color_b
  width 100%
#team
  background-color $section_color_a
  width 100%
#contact
  background-color $section_color_b
  width 100%
  
/* NAV */
#nav_top_buffer
  height $nav_height  

nav
  group()
  uppercase()
  width 100%
  height $nav_height
  background-color $white
  display block
  position fixed 
  z-index 999
   
  img.slicknav_brand
    display block
    padding 0px
    color transparent
    float left
    height 100%
    margin-left 40px

  .nav_list
    width 80% 
    height 60px
    border 5px
    padding 10px
    float left
    
    ul
      float right

      li
        text-margin()
        list-style-type none
        margin-right 30px
        float left
        text-align right
        
        a
          letter-spacing 1px
          link: $primary_green 'darken'
        
      +below(1000px)
        display none

  .book_button
      background-color $primary_green
      height 100%
      float right
      letter-spacing 1px
      width 18%
      text-decoration none
      hover-darken()
        
      p
        margin 0px
        padding 0px 10px 
        color $white
        text-align center
        vertically-align()  
    
/* Banner */
#banner_top_buffer
  height $banner_height 

.banner_video
  position fixed
  box-sizing border-box
  overflow hidden
  background-color $black
  transform-style preserve-3d
  -webkit-transform-style preserve-3d
  -moz-transform-style preserve-3d
  z-index -1

  video
    display block
    width 130%
    background-color $black

.banner_text
  position absolute
  top 60%
  right 5%
  -webkit-transform translateY(-73%)
  -ms-transform translateY(-73%)
  transform translateY(-73%)
  color $white

.banner
  position relative
  box-sizing border-box
  overflow hidden
  transform-style preserve-3d
  -webkit-transform-style preserve-3d
  -moz-transform-style preserve-3d
  background-color $white
  height 518px
    
  img
    width 100%
    background-position center
    background-size cover
    
/* Testimonials */
#testimonials
 height 518px
 position relative
 
.testimonials_text
  position absolute
  color $white
  z-index 50
  vertically-align()
    
  .quote
    bold()
    letter-spacing 2px
    text-align center
    font-size 40px
  .signature
    italic()
    letter-spacing 1px
    text-align center
    font-size 20px

.testimonials_background
  background-color $primary_green
  height 518px
  position absolute
  box-sizing border-box
  overflow hidden
  transform-style preserve-3d
  -webkit-transform-style preserve-3d
  -moz-transform-style preserve-3d
  z-index 1
    
  img
    width 100%
    background-position center
    background-size cover
    mix-blend-mode soft-light

/* Video */
.video-container
  position relative
  padding-bottom 56.25%
  padding-top 35px
  height 0
  overflow hidden
  margin-top 20px
  margin-bottom 30px
    
  iframe
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    margin auto
  
/* Text & Content */
#main-content
  center()
  width 940px
  padding 20px 0px
  
  h3
    padding-top 80px
    uppercase()
  
  +below(1125px)
    width 340px

.main-text h6 
  padding 0px 5px
  font-size 1.2em
  margin-bottom 40px

.one-column
  column(1)
  
.two-columns
  column(1/2, gutter: .5)

  +below(1125px)
    column(1/2)
    center()
  
.three-columns
  column(1/3, gutter: .5)

  +below(1125px)
    column(1/2)
    center()
    
.four-columns
  column(1/4, gutter: .5)
  
  +below(1125px)
    column(1/2)
    center()

.text
  &-center 
    text-align center

  &-left 
    text-align left

  &-right 
    text-align right

  &-vcenter 
    display table-cell
    text-align center
    vertically-align()
    
  &-container 
    position absolute
    top 50%
    left 15%
    -webkit-transform translateY(-50%)
    -ms-transform translateY(-50%)
    transform translateY(-50%)
    color $white

/* Other Styling */
.items 
  display table-cell
  vertically-align()

.book-btn
  hover-darken()
  width 120px
  height 120px
  margin 40px
  background-color $primary_green
  border-radius 50%
  color $white
  text-align center
  padding 0px 0px
  font-size 16px
  font-weight 400
  line-height normal
  letter-spacing normal
  text-transform none
  white-space normal
  border none
  box-sizing border-box

    background-color $primary_green !important
    font-weight 400
    color $white

.service
  .eye_
    &logo
      img
        width 165px
        
    &test
      img    
        width 106px
        
    &glasses      
      img
        width 138px    

.time 
  margin-left 15px
  display inline
  font-weight normal

.image-circle 
  border-radius 50%
  display inline
  width 200px
  height 200px

.headshot
  margin-top 30px
  width 200px
  height 200px

#footer 
  width 100%
  background-color $secondary_green
  padding 20px 0px

  i 
    margin 0px 10px

.social
  [class*="fa fa-"]
    hover-darken()
    background-color $primary_green
    border-radius 30px
    color $white
    display inline-block
    height 30px
    line-height 30px
    width 30px
    font-size 15px
    text-align center
    
#copyright
  font-size .5 em
  width 100%
  color $white
  background-color $primary_green
  padding 5px 0px
  text-align center
  