//- banner.jade 
- var banner_image
- var pagetitle
block variables

case pagetitle
  when "Perspective Family Eyecare"
      //BANNER VIDEO
      .banner_video
        video.video
          source(src='img/banner/vid.webm', type='video/webm')
          img(src='img/banner/homepage-banner.png')
     
        .banner_text.text-right
          h1
            | Brooklyn&apos;s Premier
            br
            | Family Eyecare Center
          
      #banner_top_buffer