
//- FOOTER.jade
block foot
#footer.main
  .text-center.social
    i.fa.fa-facebook.fa-2x
    i.fa.fa-twitter.fa-2x
    i.fa.fa-instagram.fa-2x

block copyright  

#copyright

  | Copyright 2016, All Rights Reserved