
//- FOOTER.jade
block foot
#footer.main
  .text-center.social

    //facebook
    a(href='https://www.facebook.com/perspectiveeyes/' target='_blank')
      i.fa.fa-facebook.fa-2x

    //twitter
    a(href='https://twitter.com/perspectiveeye1/' target='_blank') 
      i.fa.fa-twitter.fa-2x

    //instagram
    a(href='https://www.instagram.com/perspectiveeye1/' target='_blank')
      i.fa.fa-instagram.fa-2x


block copyright  

#copyright

  | Copyright 2016, All Rights Reserved