
//- NAV.jade
// nav Mixin
mixin nav_items(page, href)
  li
    a(href= href)= page

nav.main
  img.slicknav_brand(src='img/PERSPECTIVE_LOGO_7_white.png')
  .slicknav_item.slicknav_row
    ul#menu
      // Nav Bar Items
      +nav_items("About", "#about")
      +nav_items("Services", "#services")
      +nav_items("Team", "#team")
      +nav_items("Contact", "#contact")
  .slicknav_btn BOOK NOW
     

// NAV BUFFER
// Pushes Content Below NAV
#nav_top_buffer