
//- NAV.jade
// nav Mixin
mixin nav_items(page, href)
  li
    a(href= href)= page

nav
  .nav_list
    img.slicknav_brand(src='img/PERSPECTIVE_LOGO_7_white.png')
    ul
      // Nav Bar Items
      +nav_items("About", "#about")
      +nav_items("Services", "#services")
      +nav_items("Team", "#team")
      +nav_items("Contact", "#contact")
  a.book_button(href='#') 
      p Book Appointment
     

// NAV BUFFER
// Pushes Content Below NAV
#nav_top_buffer
